<%= provide(:title, "About") %>

<h1 class="text-center">About</h1>
<p class="text-center">who wants to come over and play halo my brother is at church camp this week so we get to use both controllers</p>
