<div class='row'>
  <div class="col-12 text-center">
    <ul class='home-buttons'>
      <li> <a type="button" class="btn btn-primary btn-lg btn-large text-center home-buttons" href="/scan" data-turbolinks="false" > Scan QR Code</a> </li>
      <li> <a type="button" class="btn btn-default btn-lg btn-large text-center home-buttons" href="/artifacts/new"> Create Artifact</a> </li>
      <li> <a type="button" class="btn btn-info btn-lg btn-large text-center home-buttons" href="/artifacts"> List All</a> </li>
      <li> <a type="button" class="btn btn-primary btn-lg btn-large text-center home-buttons" href="/artifacts/report"> Artifact Reports</a> </li>
    </ul>
  </div>
</div>
