<%= provide(:title, "Scan") %>

<h1 class="text-center">Scan</h1>


<<<<<<< HEAD
<div class="video-container col-12 text-center">
  <video id="video-preview"></video>
=======
<div class="video-container">
  <video class="embed-responsive" id="video-preview"></video>
>>>>>>> Artifacts-CRUD
  <canvas id="qr-canvas" class="hidden"></canvas>
</div>

<br>
<h2 class="text-center">QR Data:</h2>

<div class="results-box col-4 mx-auto text-center">
  <p id="qr-results" class="qr-results">scanning...<p>
</div>
